.super-mario {
    width: 200px;
    position:absolute;
    z-index: 0;
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    top: 338px;
    left: 108px;
    z-index: 1;
  }
  
  .baloon {
    position: absolute;
    top: 90px;
    left: 225px;
    z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 250px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 230px;
    left: 500px;

  }