* {
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.4);
}

.div {
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 5px;
    left: 30%;
    top: 20px;
    bottom: 30px;
    width: 500px;
    height: 480px;
}

h1 {
    text-align: center;
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    position: relative;
    left: 45px;
    top: 10px;
    width: 400px;
    height: 100px;
}

img {
    border-radius: 30px;
    width: 250px;
    position: absolute;
    margin: 90px 40%;
    box-shadow: 0 10px 10px;
}

.fullName {
    font-family: monospace;
    font-size: xx-large;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    top: 80%;
    left: 42%;
    color: teal;
    border-radius: 10px;
    padding: 5px;
}

.button {
    position: absolute;
    top: 50%;
    right: 550px;
    width: 100px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
